@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Management System for Contacts</h1>
    <p class="lead">Use our system to make your life easier. Keep track of all your contact's addresses, phone numbers and email addresses, in one small package!</p>
    <p><a href="#" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="img-thumbnail img-fluid">
        <img src="~/Content/images/contact-scrabble.jpg" style="max-height: 400px;
    width:100%; padding-bottom: 5px;"/>
        <h2>Management System for Contacts</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="img-thumbnail img-fluid">
            <img src="~/Content/images/telephones.jpg" style="max-height: 400px;
    width:100%; padding-bottom: 5px;" />
            <h2>Keep track of all your friends and Family</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
     </div>
    <div class="col-md-4">
        <div class="img-thumbnail img-fluid">
            <img src="~/Content/images/work.jpg" style="max-height: 400px;
    width:100%; padding-bottom: 5px;" />
            <h2>Easy, Intuitive, functional.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
</div>